@"
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
.vs/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.suo
*.userprefs
*.unityproj
*.tmproj
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
sysinfo.txt
*.log
*.bak
.DS_Store
"@ | Out-File -Encoding utf8 .gitignore
UserSettings/
